@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  background-color: #d9fee5;
}
.table {
  margin-top: 50px;
  text-align: center;
  height: 150px;
  width: 400px;
}

#btn td input {
  width: 100%;
}

.rtable {
  width: 800px;
}

#show th,
#show td {
  padding: 13px;
}

#btn {
  width: 200px;
  padding: 10px;
  color: aliceblue;
  margin-top: 20px;
  border-style: none;
  border-radius: 5px;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
